# Database Configuration
DB_SERVER=SERV02-VM1
DB_DATABASE=Sage
DB_USER=cenval
DB_PASSWORD=YOUR_PASSWORD_HERE
DB_DRIVER=ODBC Driver 17 for SQL Server

# Email Configuration (Arsys)
SMTP_SERVER=smtp.servidoresdns.net
SMTP_PORT=587 
SMTP_USER=tu_correo@cenval.es
SMTP_PASSWORD=tu_contraseña_de_correo
# Opcional (Si el desde lo quieres forzar a otro nombre visible u otro buzón del que seas owner)
# SMTP_FROM=Reportes Cenval <tu_correo@cenval.es>
